/* Bottom button section */
.buttonsArea {
  display: flex;
  justify-content:flex-start;
  width: 100vw;
  height: 14vh;
  padding: 10px 0 10px 7vw;
  background-color: black;
  /*border: 2px solid yellow;*/
}
