/* Referee middle call-out section */

@keyframes fadeIn {
  from {font-size: 0;}
  to {font-size: 2.5rem;}
}

@keyframes fadeOut {
  from {font-size: 0;}
  to {font-size: 2.5rem;}
}

.referee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 10rem;
  font-size: 2.5rem;
  word-spacing: 10px;
  line-height: 150%;
  font-weight: bold;
  color: #04940f;
  font-family: 'Black Ops One', cursive;
  /*font-family: 'Wallpoet', cursive;*/
  /*font-family: 'Press Start 2P', cursive;*/
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 3s;
}
