/* Referee middle call-out section */

@keyframes fadeIn {
  from {font-size: 25.5rem; opacity: 0}
  to {font-size: 3.5rem; opacity: 1}
}

.noReferee {
  opacity: 0;
}

.referee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 10rem;
  font-size: 2.5rem;
  line-height: 150%;
  font-weight: bold;
  color: #04940f;
  font-family: 'Black Ops One', cursive;
  /*font-family: 'Wallpoet', cursive;*/
  /*font-family: 'Press Start 2P', cursive;*/
}

.callOutAnimation {
  align-self: center;
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}
